*.o
*.so
*.a
*.d
*.patch
*.vscode
*.dep
*.obj

single_pipe_vin_isp_vse/single_pipe_vin_isp_vse
multi_pipe_vin_isp_vse/multi_pipe_vin_isp_vse
single_pipe_vin_isp_vse_vpu/single_pipe_vin_isp_vse_vpu
single_pipe_vin_isp_gdc/single_pipe_vin_isp_gdc
multi_pipe_crop_and_stitch/multi_pipe_crop_and_stitch
multi_pipe_vin_isp_vse_gpu2d/multi_pipe_vin_isp_vse_gpu2d
sample_custom_capbuf/sample_custom_capbuf
single_pipe_vin_isp_vse_gpu2d/single_pipe_vin_isp_vse_gpu2d
single_pipe_vin_isp_vse_vo/single_pipe_vin_isp_vse_vo

