*.o
*.so
*.a
*.d
*.patch
*.vscode

sample_alphablend/alphablend
sample_rectangle_fill/rectangle_fill
sample_rotation/rotation
sample_format_convert/format_convert
sample_resize/resize
sample_crop/crop
sample_copy/copy
sample_stitch/stitch
sample_multi_source_alphablend/multi_source_alphablend
sample_create_n2d_buffer/create_n2d_buffer